springdoc:
  swagger-ui:
    use-root-path: true

spring:
  datasource:
    url: jdbc:h2:mem:testdb

  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: create

    properties:
      hibernate:
        format_sql: true

    show-sql: true

server:
  port: 9000
